* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid #eee;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.logo {
    color: #4f46e5;
}

/* HERO */
.hero {
    padding: 100px 10%;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
}

.hero span {
    color: #4f46e5;
}

.hero p {
    margin: 15px 0 30px;
    color: #555;
}

.hero-buttons .btn {
    background: #4f46e5;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-outline {
    border: 2px solid #4f46e5;
    padding: 10px 25px;
    border-radius: 6px;
    color: #4f46e5;
    text-decoration: none;
}

/* SECTIONS */
.section {
    padding: 70px 10%;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.gray {
    background: #f8f9fc;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.skill-card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* PROJECTS */
.project-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* CONTACT */
#contact a {
    color: #4f46e5;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
}
